:root {
  --body-bg: #0e1529;
  --darkened-bg: #0b101f;
  --body-fg: #f4f4f4;
  --body-quiet-color: #8d8d8d;
  --link-selected: #00d0bd;
  --selected-bg: #1f2638;
  --accent-light: #323849;
  --accent-dark: #2f3547;
  --link-hover-color: #c2c7cb;

  --code-font: "Consolas, 'Courier New', monospace";

  --nav-width: 450px;

  --transition-default: opacity 0.05s ease-in-out, transform 0.05s ease-in;
}

body {
  padding-left: var(--nav-width);
  color: var(--body-fg);
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.nav {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--darkened-bg);
  height: 100%;
  justify-content: center;
  width: var(--nav-width);
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.nav__links {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  gap: 15px;
}

.nav__links > li {
  color: var(--body-quiet-color);
  font-size: 50px;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  transition: transform 0.2s ease-in-out;
}

.nav__link--inactive:hover {
  color: var(--link-hover-color);
  transform: translateX(5px);
}

.nav__link--active {
  color: var(--link-selected) !important;
}

.nav__logo {
  width: 35px;
}

.nav__logo-container {
  cursor: pointer;
  position: absolute;
  left: 45px;
  top: 45px;
}

.nav__logo * {
  fill: var(--body-fg) !important;
}

.nav__button {
  display: none;
}

@media (max-width: 1200px) {
  body {
    padding-left: 0;
  }

  .nav {
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .nav__logo-container {
    position: fixed;
    right: 30px;
    bottom: 30px;
    left: auto;
    top: auto;
  }

  .nav__logo {
    width: 25px;
  }

  .nav__button {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    margin: 2rem 0 0 2rem;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: none;
    z-index: 2;
  }

  .nav__button * {
    stroke: var(--body-quiet-color);
  }

  .nav__button:hover * {
    stroke: var(--link-hover-color);
  }

  .nav__button > svg {
    font-size: 32px;
  }
}

.html-tag__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.html-tag__item {
  color: var(--link-selected);
  font-family: var(--code-font);
}

.html-tag__open {
  margin: 2rem 0 2rem 2rem;
  align-self: flex-start;
}

.html-tag__close {
  margin: 2rem 2rem 2rem 0;
  align-self: flex-end;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing__section {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("../assets/sm-background.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.landing__message {
  margin-bottom: 50px;
  text-align: center;
}

.landing__title {
  font-size: 44px;
  margin: 0 2rem;
  font-weight: 400;
}

@media (max-width: 700px) {
  .landing__title {
    font-size: 34px;
  }
  .nav__links > li {
    font-size: 35px;
  }
}

.projects__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__container {
  background-color: var(--darkened-bg);
  width: 90%;
  height: 100%;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

.projects__content {
  padding: 40px;
}

@media (max-width: 1200px) {
  .projects__container {
    width: 100%;
    height: 100%;
  }

  .projects__content {
    padding-top: 80px;
  }
}

.projects__title {
  font-weight: 400;
  font-size: 44px;
  margin: 0;
  padding-bottom: 40px;
  border-bottom: var(--accent-light) 1px solid;
}

.project-card__container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: var(--accent-light) 1px solid;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.project-card__container:hover {
  transform: translateX(5px);
}

.project-card__main-content {
  display: flex;
  align-items: center;
}

.project-card__thumbnail {
  width: 108px;
}

.project-card__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  justify-content: space-between;
}

.project-card__name {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}

.project-card__client {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.project-card__language-icons {
  display: flex;
  column-gap: 1rem;
}

.project-card__language-icon {
  height: 35px;
}

.project-card__date {
  text-align: end;
  color: var(--link-selected);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  align-self: center;
}

@media (max-width: 700px) {
  .project-card__thumbnail {
    width: 80px;
  }

  .project-card__container * {
    font-size: 16px;
  }

  .project-card__container {
    flex-direction: column;
  }

  .project-card__details {
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .project-card__date {
    padding-top: 1rem;
    align-self: auto;
  }
}

.blog__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog__section > h1 {
  font-size: 44px;
  font-weight: 400;
}

.inspiration__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inspiration__section > h1 {
  font-size: 44px;
  font-weight: 400;
}

.active-page {
  opacity: 1;
  transition: var(--transition-default);
  transform: translateY(5px);
  height: 100%;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.background {
  z-index: -99;
}

.hidden {
  display: none;
}
