@tailwind base;
@tailwind components;
@tailwind utilities;

$body-bg: #0e1529;
$darkened-bg: #0b101f;
$body-fg: #f4f4f4;
$body-quiet-color: #8d8d8d;
$link-selected: #00d0bd;
$selected-bg: #1f2638;
$accent-light: #323849;
$accent-dark: #2f3547;
$link-hover-color: #c2c7cb;
$terminalBg: #000000;
$neonGreen: #39ff14;
$skyFade: linear-gradient(rgb(140, 199, 217) 0%, rgba(0, 0, 0, 0.25) 100%);
$code-font: "Courier New", monospace;
$nav-width: 450px;
$hiddenNavbarWidth: 1200px;
$phoneWidth: 700px;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $body-bg;
  font-family: Inter, sans-serif;
  color: $body-fg;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: auto;
}

#root {
  height: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/* Scrollbar design from Butterfly effect */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border: solid #4f4f4f 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

@media (max-width: $hiddenNavbarWidth) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold text-bodyFg mb-4;
  }

  h2 {
    @apply text-4xl font-bold text-bodyFg mb-4 mt-8;
  }

  p {
    @apply text-bodyFg leading-8 mb-4;
  }

  ul {
    @apply list-inside list-circle text-bodyFg leading-10 mb-4;
  }
}

@layer components {
  .article-section {
    @apply bg-darkened min-h-full flex justify-center pt-10 pb-24 px-10 lg:px-0;
  }

  .article-content {
    @apply relative z-10 w-full lg:w-3/4;
  }

  .article-banner {
    @apply absolute top-0 left-0 w-full h-64 z-0 bg-skyFade;
  }

  .back-button {
    @apply z-50 text-2xl text-bodyFg mb-10;
  }

  .article-thumbnail {
    @apply h-36 self-center mb-6 md:h-52 lg:mr-8 lg:mb-0;
  }

  .article-header {
    @apply flex flex-col lg:flex-row justify-start items-center mb-16;
  }

  .blog-image {
    @apply w-full my-8 self-center lg:w-3/4;
  }

  .blog-image-caption {
    @apply text-center text-bodyQuietColor text-sm italic mb-8;
  }
}

@layer utilities {
  .bg-skyFade {
    background: linear-gradient(
      rgb(140, 199, 217) 0%,
      rgba(0, 0, 0, 0.25) 100%
    );
  }

  .list-circle {
    list-style-type: circle;
  }
}
